$font__headings: "NovaMono";
$font__text: "font";
$font__navigation: "font";

$colour__background: #9ec79d;
$colour__content--bg: #F0F1F2;
$colour__dark: #384968;

$fontSize__small:12px;

$btn__shadow: 1px 1px 0px 3px black;


$card-bg: black;